/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --light-wieght: 300;
  --heavy-weight: 700;
  --light-orange: #f9c784;
  --medium-orange: #fcaf58;
  --dark-orange: #ff8c42;
  --dark-purple: #4e598c;
}

body {
  font-family: "Ubuntu", Arial, sans-serif;
  background-color: var(--dark-purple);
  color: white;
  margin: 1rem;
}
h1 {
  font-family: "Ubuntu Condensed", Arial, sans-serif;
  color: var(--dark-orange);
  width: fit-content;
  margin: auto;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

h3 {
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

nav {
    display: flex;
flex-wrap: wrap;
gap: .5rem;
justify-content: center;
}
button {
    border: none;
    border-radius: 5px;
    background: linear-gradient(var(--light-orange),var(--medium-orange), var(--dark-orange));
}
button:hover {
    background: linear-gradient(var(--dark-orange),var(--medium-orange), var(--light-orange));
}
button:active{
    background: linear-gradient(var(--dark-purple), var(--medium-orange), var(--light-orange));
}

.cards-here {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
section {
  border-radius: 5px;
  width: 150px;
  border: 3px solid var(--dark-orange);
}
section.female {
  background-color: var(--dark-orange);
}
section.male {
  background-color: black;
  color: var(--dark-orange);
}
section.other {
  background-color: var(--light-orange);
  color: black;
}
img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}
section p {
  text-align: center;
}


footer {
    text-align: center;
}