@media only screen and (min-width: 60rem) {

    h1 {
        font-size: 5rem;
    }
    section h2 {
        font-size: 3rem;
    }

    div.parent a {
        flex-basis: 33.3333%;
    }
    

} /* end media query*/